.trafficpole {
    position: fixed;
    left: 56%;
    width: 10px;
    height: 80px;
    background-color: black;
}

.trafficbox {
    position: fixed;
    top:50px;
    left: 50%;
    width:80px;
    height: 250px;
    background-color: black;
    border-radius: 10px;
}

.light {
    position: relative;
    margin:25px 15px 5px 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
    .red{background-color: red;}
    .yellow{background-color: yellow;}
    .green{background-color: green;}
    .selected{box-shadow: rgba(247, 255, 94, 0.447);}







